/* Algemene styling */

html {
    margin: 0;

    * {
        box-sizing: border-box; } }

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-links);
    padding: 10px 16px 10px 16px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    gap: 12px;
    box-shadow: inset 0 0 0 0 var(--second-standard-color);
    transition: ease-out 0.3s;
    color: var(--standard-color);
    background-color: var(--second-standard-color);
    border: 2px solid var(--standard-color);

    path {
        stroke:var(--standard-color) } }

        
/* speciafieke styling */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 10; 
    padding: 16px !important;
    border-bottom: 1px solid var(--standard-color);

    
    nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        translate: 100%;
        transition: 0s;} }

    .nav-open {
        background-color: white;
        padding-top: 154px;
        translate: 50%; }

    ul {
        list-style: none;

        a {
            font-family: var(--secondary-font);
            font-size: var(--font-size-links);
            text-transform: uppercase;
            color: var(--standard-color); }
    
            .headerlinkbold, .link-blauw {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--changeable-color);
                font-weight: var(--bold-font-weight) } }
        
            li { 
                display: flex;
                align-items: center; } 

.hamburger-class {
margin-right: 16px; }     

.hamburger { 
    z-index: 9;
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer; 
    margin-left: auto; }

@media all and (min-width: 900px) { 
    
    .hamburger, .hamburger-class {
        display: none; }

    header > nav {
        display: flex;
        align-items: center;
        position: static;
        translate: unset;
        padding: 0; }

    nav button {
        display: none; }

    nav ul { 
        display: flex;
        justify-content: space-between;
        gap: 32px; } 
    
        .links-links, .links-rechts {
        display: flex;
        flex-direction: row;
        gap: 32px; } } 



/* styling & positie filters */

.filters {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center; 

    .select {
        margin-right: 50px; } }


/* styling & positie vacatures */

.vacatures-all {
    display: flex;
    flex-direction: column;
    
    .vacatures {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1312px;
        border-bottom: 2px solid var(--standard-color);
        transition: 0.2s ease-in-out;
        margin-left: 48px;} 
    
        h4 {
            width: 516px; }

            p {
                font-family: var(--secondary-font); }
                
            .language {
                width: 88px; }

            .type, .time, .location {
                width: 194px; } }

.vacatures h4, .vacatures p, .vacatures a {
    transition: 0.2s ease-in-out; }

.vacatures.hide {
    transform: translateX(100%);
    opacity: 0;
    border: 0;
    height: 0;
    transition: height 0.5s ease;}


    .vacatures h4.hide, .vacatures p.hide, .vacatures a.hide {
        transform: translateX(100%);
        font-size: 0;
        padding: 0;
        transition: 0.5s ease; }
